:root{
    --base-top: 10px;
    --base-left: 10px;
}

.game-field {
    position: relative;
    width: 1024px;
    height: 768px;
    background-color: rgb(224, 199, 199);
    margin: 0 auto;
}
.player {
    position: absolute;
    top: var(--base-top);
    left: var(--base-left);
    width: 20px;
    height: 20px;
}
.player .gun {
    position: relative;
    background-color: black;
    width: 26px;
    height: 6px;
    display: block;
    top: 8px;
    left: 10px;
    transform: rotate(-105deg);
    transform-origin: left center;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.ball {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.boom {
    width: 30px;
    position: absolute;
    z-index: 999;
}

.death {
    width: 40px;
    position: absolute;
    z-index: 999;
}